/students/Nathan-Sylvia/IntAt/nbproject/private/
/students/Kapoof_KtonaMagdichStudavent/nbproject/private/
/students/Lab12/nbproject/private/
/students/Kapoof_KtonaMagdichStudavent/build/
/students/Homework12Ktona/nbproject/private/
/students/Homework12Ktona/build/